.c-card {
	@extend .o-card;

    margin-top: map-get($spacers, 4);

    transition: all 0.5s;

    h3, .h3 {
    	@extend .mb-3;
        transition: all 0.5s;
    }

    hr {
        @extend .d-block;

        margin: 0 auto;
        margin-bottom: map-get($spacers, 5);

        max-width: 50px;
        border-top: 1px solid $gray-300;
    }

    & > div:not(.row) {
    	@extend .text-center;
        padding-top: map-get($spacers, 7);
        padding-bottom: map-get($spacers, 7);

    	p {
    		margin-bottom: map-get($spacers, 0);
    	}
    	
    }

    svg {
        margin-bottom: map-get($spacers, 5);
    	margin-top: -6px;
    	transition: all 0.5s;
    	height: 60px;

    }
    
	//States
    &:hover {
        transition: all 0.5s;
        background-color: $primary;
        color: $white;
        
        h3, .h3 {
            transition: all 0.5s;
            color: $white;
        }

        hr {
        	border-top: 1px solid $white;
        }
        svg g {
		transition: all 0.5s;
        	fill: $white;
        }
    }

}