.c-overlay-card {
	@extend .card;
	border: 0;

	&__primary , &__secondary {

	    & > div:not(.card-img-top) {
			color: $white;
	        
	        position: relative;
		    
			.i {
			    border-radius: 50%;
		    	border: 1px solid;
		    	display: inline-block;
		    	padding: 15px;
		    	display: inline-block;

				svg {
					font-size: 1.5rem;
				}
			}
	    }
	}

	&__primary > div {
		background-color: $primary;
	}

	&__secondary > div {
		background-color: $secondary;
	}

	svg {
	}
}


@include media-breakpoint-up(sm) {
	.c-overlay-card {
		&__primary , &__secondary {
	    	& > div:not(.card-img-top) {
	    		margin: -80px 60px 0 60px;
	    	}
	    }
	}
}
