.c-overlay-card {
	@extend .card;
	border: 0;

	&__primary , &__secondary {

	    & > div:not(.card-img-top) {
			color: $white;
	        margin: 0 60px;
	        position: relative;
    		margin-top: -80px;
		    
			.i {
			    border-radius: 50%;
		    	border: 1px solid;
		    	display: inline-block;
		    	padding: 15px;
		    	display: inline-block;

				svg {
					font-size: 1.5rem;
				}
			}
	    }
	}

	&__primary > div {
		background-color: $primary;
	}

	&__secondary > div {
		background-color: $secondary;
	}

	svg {
	}
}