.o-card {
    @extend .card;
    
    border: 1px solid $gray-100;

    header {
        @extend .card-header;
    }
    
    & > div:not(.row){
        @extend .card-body;

        img {
            margin: 0 auto;
            display: block;
        }
    }
    
    footer {
        @extend .card-footer;
    }    
}