
$font-size: 14px;
$icon-size: $font-size * 3;

.o-icon {
	display: inline-block;
	width: $icon-size;
	height: $icon-size;
	background-color: $gray-200;

	span {
		//
		display: inline-block;

		i, svg {
			margin: 0 auto;
			display: inline-block;
		    vertical-align: top;
		    height: .875rem;
		    width: .875rem;
		}
		i + i, svg + svg {
			//opacity: 0;
		}
	}


}

.o-icon {

	&--circle {
		@extend .o-icon;
		border-radius: 50%;
		width: round(($icon-size / 100) * 90);
		height: round(($icon-size / 100) * 90);
		span {
			margin-top: round(($font-size / 100) * 80);
			margin-left: round(($font-size / 100) * 74);
			padding: ($icon-size / 100) * 4.175;
		}
	}

	&--square, &--square--no-rad  {
		@extend .o-icon;
		span {
			margin-top: ($font-size / 100) * 65;
			margin-left: ($font-size / 100) * 65;
			padding: ($icon-size / 100) * 12.24;
			width: ($icon-size / 100) * 75.52;
			height: ($icon-size / 100) * 75.52;
		}
	}


	&--hrect, &--hrect--no-rad  {
		@extend .o-icon;
		height: ($icon-size / 100) * 66.65;
		width: ($icon-size / 100) * 91.65;
		padding-left: ($icon-size / 100) * 50;
		span {
			//margin-top: ($font-size / 100) * 50;
			margin-left: (($icon-size / 100) * 25) * -1;
			padding: ($icon-size / 100) * 16.675 ($icon-size / 100) * 4.175;
		}
	}

	&--vrect, &--vrect--no-rad  {
		@extend .o-icon;
		height: ($icon-size / 100) * 91.65;
		width: ($icon-size / 100) * 66.65;
		//padding-left: ($icon-size / 100) * 50;
		span {
			margin-top: round(($font-size / 100) * 78.57);
			//margin-left: (($icon-size / 100) * 25) * -1;
			padding: ($icon-size / 100) * 4.175 ($icon-size / 100) * 16.675;
		}
	}


	&--square,&--hrect,&--vrect {
		border-radius: 0.25rem;
	}

	&--square#{&}--no-rad,&--hrect#{&}--no-rad,&--vrect#{&}--no-rad {
		border-radius: 0;
	}
	&--square.animated,&--hrect.animated,&--vrect.animated,&--circle.animated {

	}
	&--square.animated.show,&--hrect.animated.show,&--vrect.animated.show,&--circle.animated.show {
		span {
			position: relative;

			& svg:first-child {
				//animation: left90FirstElement .2s ease 0s 1 normal forwards;
				position: absolute;
				top: 0;
				left: 0;
			}
			& svg + svg {
				//opacity: 0;
				position: absolute;
				top: 0;
				left: 0;
				//animation: displaySecondElement  .2s ease 0s 1 normal forwards;
			}
		}
	}

}

@keyframes left90FirstElement {
	0% {
		transform: rotate(0deg);
		width: .875em;
		//trasform-origin: center center;
	}
	96%{
		transform: rotate(-90deg);
		opacity: 1;
		//trasform-origin: center center;
		width: .875em;
	}
	97% {
		//transform: scale(1);
		opacity: 0;
		width: 0;
	}
	100% {
		transform: rotate(-90deg);
		width: 0;
		opacity: 0;
		//transform: scale(0);
	    //width: 0;
	}
}

@keyframes displaySecondElement {
	0% {
		opacity: 0;
	}
	98% {
		opacity: 0;
	}
	99% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}

@keyframes right90 {
   0% {
   	svg {
   		transform: rotate(0deg);
   	}
   }
  50%{
  	svg {
  		transform: rotate(90deg);
  	}
  }
}