<nav class="c-menu c-menu--not-on-top navbar-expand-lg">
      <div class="container">
        <div class="c-menu__extra-info">
            <span>Llamanos! XXX XXX XXX</span>  
            <span>miemail@gmail.com</span>  
            <span>C/ desconocida, 42 A</span>  
        </div>
        <div class="c-menu__wrapper">
        <h1><a class="c-menu__navbar-brand" href="#" name="Home">Bussiness namae</a></h1>
        <button class="c-menu__button navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="c-menu__navbar">
            <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav ml-auto">
                <li class="c-menu__nav-item active">
                  <a class="c-menu__nav-link" href="#" name="Home">Home
                    <span class="sr-only">(current)</span>
                  </a>
                </li>
                <li class="c-menu__nav-item">
                  <a class="c-menu__nav-link" name="About" href="index.html">About</a>
                </li>
                <li class="c-menu__nav-item">
                  <a class="c-menu__nav-link" name="Services" href="#">Services</a>
                </li>
                <li class="c-menu__nav-item">
                  <a class="c-menu__nav-link" name="Contact" href="#">Contact</a>
                </li>
                <li class="c-menu__nav-item">
                  <a class="c-menu__nav-link" name="Contact" href="styleguide.html">Styleguide</a>
                </li>
              </ul>
            </div>
          </div>  
        </div>
          
        
      </div>
    </nav>